<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<p>Current Active Sessions:</p>



<% Object.keys(sessions).forEach(theSession => { %>
    <div>
        <form action="/admin" method="POST">
        
            <p>SessionID: <%= theSession %></p> <input hidden='true' type="text" name="theSession" value="<%= theSession %>">
            <p>UserID: <%= JSON.parse(sessions[theSession]).passport.user %></p>

            <button type="submit">Revoke Session</button>

        </form>
    </div>
<% } ); %>
